*{
    font-family: 'Nunito Sans', 'sans-serif';
}

@media (min-width: 576px) {
    .dropdown{
        display: flex;
        justify-content: end;
    }
    .img-offcanvas{
      width: 400px;
    }
    .offcanvas-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .buttomoffcanvas{
    width: 150px;
  }

  .offcanvas {
    overflow-y: auto;
  }

  @media (min-width: 753px) {
    .offcanvas-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .img-offcanvas{
      width: 500px;
    }
  }



  @media (min-width: 992px) {
    .offcanvas-container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }
    .img-offcanvas{
      width: 600px;
    }
    .container-text{
      text-align: center;
    }
  }
