*{
    font-family: 'Nunito Sans', 'sans-serif';
}

@media (min-width: 576px) {
    .dropdown{
        display: flex;
        justify-content: end;
    }
  }
  .buttomoffcanvas{
    width: 150px;
  }

  .offcanvas {
    overflow-y: auto;
  }
  